

html {
    font-size: 62.5%; // 1rem is 10px
}

body{
    background-color: #25274D;
    --def: #000000 !important; 	
	--inv: #fff !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    display: block;
    width: 6rem;
}

.nav{
    list-style-type: none !important;
    margin: 0 !important;
    position: fixed !important;
    z-index: 1 !important;
    top: 0px !important;
    align-self: center !important;
}

.nav-elements{
    // display: flex;
    // justify-content: space-between;
    // text-align: justify;
    border-radius: 6px !important;
    height: 40px !important;
    width: 110% !important;
    font-size: x-large !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    margin-left: 14px !important;

}

.nav-element{
    background-color: #3a3d78 !important;
    border: 2px black solid !important;
    // border-radius: 3px; !important
    display: flex !important;
    z-index: 1 !important;
    display: flex !important;
    text-align: justify !important;
}

.name-info{
    border: 1px dotted  #AAABB8 !important;
    border-radius: 30px !important;
    padding: 1rem !important;
}

.greeting{
    color: #EDF0D6 !important;
    font-size: 3rem !important;
    margin-top: 2rem !important;
    margin-left: 1rem !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.name{
    font-size: 8rem !important;
    margin-bottom: 2rem !important;
    color: rgb(237, 241, 205) !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-weight: bold !important;
}

.greeting-desc1{
    color: rgb(49, 141, 202) !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    margin-bottom: 1rem !important;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden !important;
    font-weight: normal !important;
    background-color: #25274D !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    -webkit-tap-highlight-color: transparent !important;
}

.app {
    margin-top: 2rem  !important;
    display: grid !important;
    justify-items: center !important;
}

.bio{
    border: 1px dotted !important;
    padding: 25px !important;
    border-radius: 6rem !important;
    color: white !important;
    margin-bottom: -50rem !important;
    font-size: medium !important;
    margin-top: 10px !important;
}

.about{
    border: 2px solid !important;
    color: white !important;
    border-radius: 6px !important;
    padding: 10px !important;
    height: 85rem !important;
    background-color: rgba(128, 128, 128, 0.269) !important;
    display: flex !important;
    flex-direction: column !important;
    margin-top: 5rem !important;
    align-content: center !important;
}

.bio-pic{
    height: 50rem !important;
    width: 30rem !important;
    margin-left: 130px !important;
    margin-top: 50px !important;
    border-radius: 10rem !important;
    border: 2px white !important;
    border-style: groove !important;
}

.social-media{
    margin-right: 10px !important;
    margin-top: 90px !important;
    display: flex !important;
    justify-content: space-between !important;
    width: 20rem !important;
    margin-left: 14rem !important;
    text-align: center !important;
}

.about-title{
    border: 1px white solid !important;
    border-radius: 6px !important;
    background-color: rgb(49, 141, 202) !important;
    opacity: 30% !important;
}
.about-title:hover{
    opacity: 70% !important;
}


.project-container{
    border: 2px solid white !important;
    height: 50rem !important;
    width: 100% !important;
    background-color: rgba(128, 128, 128, 0.269) !important;
    border-radius: 6px !important;
    margin-top: 5rem !important;
    overflow-y: scroll !important;
}

.acc{
    background-color: rgba(128, 128, 128, 0.269) !important;
}

/* Experience Styling */
.experience-container{
    border: 2px solid white !important;
    height: 65rem !important;
    width: 100% !important;
    background-color: rgba(128, 128, 128, 0.269) !important;
    border-radius: 6px !important;
    margin-top: 5rem !important;
}

.exp-title{
    margin-bottom: 5rem !important;
    // display: inline-block;
    display: flex !important;
    text-align: center !important;
    margin-left: 3px !important;
}
.exp-pic{
    margin-top: 7px !important;
    max-width: 250px !important;
    width: 320px !important;
    height: 150px !important;
    display: flex inline-block !important;
    // padding-left: 40px;
    // padding-inline: 20px;
    display: flex !important;
    justify-content: space-around !important;
}

.exp-rw{
    margin-left: 10rem !important;
    margin-right: 10rem !important;
    margin-top: 8rem !important;
    justify-content: center !important;
}

.exp-desc-left{
    height: 160px !important;
    width: 300px !important;
    border: dotted 2px white !important;
    border-radius: 3rem !important;
}

.exp-desc-right{
    height: 160px !important;
    width: 300px !important;
    border: dotted 2px white !important;
    border-radius: 3rem !important;
}

/* project styling */
.tech-container{
    height: 40px !important;
    width: 150px !important;
    overflow: hidden !important;
    margin-top: 30px !important;
    margin-left: 120px !important;
    align-self: center !important;
    // margin
}
.scrolling-techs{
    // overflow-x: ;
    // overflow-y: hidden;
    white-space: nowrap;
    max-height: 60px !important;
    max-width: 100px !important;
    padding-left: 20px !important;
    -webkit-animation-name: move ;
    -webkit-animation-duration: 4s ;
    -webkit-animation-iteration-count: infinite ;
    -webkit-animation-direction: left ;
    -webkit-animation-timing-function: linear ;
}

@-webkit-keyframes move {
        0%{
            margin-left: -300px ;
        }
        100%{
            margin-left: 130px ;
        }
}

.proj-desc{
    color: white ;
    margin-top: 30px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-left: 10px ;
}

.tech-pic{
    height: 40px !important;
    width: 60px !important;
    display: inline-block !important;
}

/* effect found online */
.btn {		
	// position: relative;	
	padding: 1.4rem 4.2rem !important;
	padding-right: 3.1rem !important;
	font-size: 1.4rem !important;
	color: var(--inv) !important;
	letter-spacing: 1.1rem !important;
	text-transform: uppercase !important;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1) !important;	
	cursor: pointer !important;
	user-select: none !important;
}

.btn:before, .btn:after {
	content: '' !important;
	position: absolute !important;	
	transition: inherit !important;
	z-index: -1 !important;
}

.btn:hover {
	color: var(--def) !important;
	transition-delay: .5s !important;
}

.btn:hover:before {
	transition-delay: 0s !important;
}

.btn:hover:after {
	background: var(--inv) !important;
	transition-delay: .35s !important;
}

/* From Left */

.from-left:before, 
.from-left:after {
	top: 0 !important; 
	width: 0 !important;
	height: 100% !important;
}

.from-left:before {
	right: 0 !important;
	border: 1px solid var(--inv) !important;
	border-left: 0 !important;
	border-right: 0 !important;	
}

.from-left:after {
	left: 0 !important;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100% !important;
}

/* From center */

.from-center:before {
	top: 0 !important;
	left: 50% !important;
	height: 100% !important;
	width: 0 !important;
	border: 1px solid var(--inv) !important;
	border-left: 0 !important;
	border-right: 0 !important;
}

.from-center:after {
	bottom: 0 !important;
	left: 0 !important;
	height: 0 !important;
	width: 100% !important;
	background: var(--inv) !important;
}

.from-center:hover:before {
	left: 0 !important;
	width: 100% !important;
}

.from-center:hover:after {
	top: 0 !important;
	height: 100% !important;
}